{% extends 'cars/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Доступные машины</h2>
        <ul class="list-group">
            {% for car in cars %}
                <li class="list-group-item">
                    <a href="{% url 'cars:car_detail' car.id %}">{{ car.make }} {{ car.model }} ({{ car.year }})</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'cars:add_car' %}" class="btn btn-primary mt-3">Добавить машину</a>
    </div>
{% endblock %}
